*{
  font-family: 'Lato';
}

.todoContainer {
    width: 500px;
    margin: 10px auto;
  
    display: flex;
    flex-direction: column;
  }
  
  .todoCreateForm {
    display: flex;
    gap: .5rem;
  }
  
  .todoInput {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border-radius: .3rem;
    border: solid 1px #999;
  }
  
  .buttonCreate {
    border: none;
    border-radius: .3rem;
    background-color: rgb(26, 76, 169);
    color: white;
    padding: 10px 10px;
  }
  
  .todosContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 30px;
  }
  
  .todo {
    padding: .2px;
  }
  
  .todoTitle {
    flex: 1;
    font-size: 20px;
  }
  .todoUpdateForm,
  .todoInfo {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  .button {
    border: transparent;
    border-radius: .3rem;
    background-color: rgb(27, 92, 16);
    color: white;
    padding: 10px 20px;
  }
  
  .buttonUpdate{
    border: transparent;
    border-radius: .3rem;
    background-color: rgb(42, 122, 221);
    color: white;
    padding: 8px 23px;
  }
  .buttonDelete {
    border: transparent;
    border-radius: .3rem;
    background-color: rgb(169, 26, 26);
    color: white;
    padding: 10px 10px;
  }